.dashboard-page {
  overflow: scroll;
  overflow-x: hidden;
  position: relative;
}

.planned-trips-wrapper {
  display: grid;
}

.add-trip-button {
  position: fixed;
  bottom: 40px;
  right: 40px;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  border: none;
  font-weight: 500;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  font-size: 32px;
  cursor: pointer;
  justify-self: end;
  text-align: center;
}

.add-trip-button:hover {
  color: white;
  font-weight: 500;
  background-color: rgb(55, 193, 231, 0.8);
  border: none;
}

.planned-trips {
}

.trip-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 325px));
  gap: 20px;
  border-radius: 8px;
}

.trip-card {
  position: relative;
  display: grid;
  background-color: white;
  border-radius: 8px;
  list-style: none;
  border: 1px solid rgb(238, 238, 238);
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.trip-card:hover {
  background-color: rgb(245, 245, 245, 0.8);
}

.trip-card img {
  width: 100%;
  height: 180px;
  border-radius: 8px 8px 0px 0px;
  object-fit: cover;
}

.trip-card .placeholder {
  width: 100%;
  height: 200px;
  background-color: #f0f0f0;
  border-radius: 8px 8px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: #888;
}

.card-content {
  padding: 20px 20px 20px 20px;
}

.card-content p {
  margin-bottom: 10px;
}

.trip-card button {
  position: absolute;
  bottom: 80px;
  right: 20px;
  padding: 7px 10px;
  border-radius: 30px;
  border: 1px solid lightgray;
  width: fit-content;
  justify-self: end;
  cursor: pointer;
}

.trip-card button:hover {
  color: white;
  font-weight: 500;
  background-color: rgb(55, 193, 231, 0.7);
  border: none;
}

.trip-links a {
  display: block;
  margin-top: 20px;
  font-size: 19px;
  text-decoration: none;
  color: black;
}

#new-trip-form-submit {
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 200;
  height: 100vh;
  padding: 2rem;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(30px);
  overflow-y: scroll;
  display: flex;
  justify-content: center;  
  align-items: center;
}

.modal {
  width: 100%;
  max-width: 400px;
  height: fit-content;
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.close-modal {
position: absolute;
  top: -5px;
  right: 20px;
  margin-top: 20px;
  background: none;
  color: white;
  padding: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.3rem;
}

.modal-error-message {
  margin: 10px;
  color: tomato;
}

.days-remaining {
  color: tomato;
}
