.dashboard-page {
  overflow: scroll;
  overflow-x: hidden;
  position: relative;
}

.planned-trips-wrapper {
  display: grid;
}

.add-trip-button {
  position: fixed;
  bottom: 40px;
  right: 40px;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  border: none;
  font-weight: 500;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  font-size: 32px;
  cursor: pointer;
  justify-self: end;
  text-align: center;
}

.add-trip-button:hover {
  color: white;
  font-weight: 500;
  background-color: rgb(55, 193, 231, 0.8);
  border: none;
}

.planned-trips {
  margin: 20px 20px 20px 0px;
}

.trip-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 350px));
  gap: 20px;
  border-radius: 8px;
}

.trip-card {
  position: relative;
  display: grid;
  background-color: white;
  border-radius: 8px;
  list-style: none;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.trip-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.trip-card img {
  width: 100%;
  height: 200px;
  border-radius: 8px 8px 0px 0px;
  object-fit: cover;
}

.trip-card .placeholder {
  width: 100%;
  height: 200px;
  background-color: #f0f0f0;
  border-radius: 8px 8px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: #888;
}

.card-content {
  padding: 20px 20px 20px 20px;
}

.card-content p {
  margin-bottom: 10px;
}

.trip-card button {
  position: absolute;
  bottom: 95px;
  right: 20px;
  padding: 10px;
  border-radius: 30px;
  border: none;
  width: 120px;
  justify-self: end;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.trip-card button:hover {
  color: white;
  font-weight: 500;
  background-color: rgb(55, 193, 231, 0.7);
  border: none;
}

.trip-links a {
  display: block;
  margin-top: 20px;
  font-size: 19px;
  text-decoration: none;
  color: black;
}

#new-trip-form-submit {
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  position: relative;
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.close-modal {
  position: absolute;
  top: -5px;
  right: 20px;
  margin-top: 20px;
  background: red;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal-error-message {
  margin: 10px;
  color: tomato;
}

.days-remaining {
  color: tomato;
}
