.dashboard-page {
  overflow: scroll;
  overflow-x: hidden;
  position: relative;
  margin-top: 10px;
}

.planned-trips-wrapper {
  display: grid;
}

.add-trip-button {
  position: fixed;
  bottom: 40px;
  right: 60px;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  border: none;
  font-weight: 500;
  font-size: 32px;
  cursor: pointer;
  justify-self: end;
  text-align: center;
  background-color: #6ec9f7;
  color: white;
}

.add-trip-button:hover {
  color: #6ec9f7;
  background-color: white;
  border: 3px solid #6ec9f7;
}

.trip-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  border-radius: 8px;
}

.trip-card {
  position: relative;
  width: 300px;
  display: grid;
  border-radius: 12px;
  list-style: none;
  cursor: pointer;
  background-color: rgb(245, 245, 245, 0.7);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.trip-card:hover {
  background-color: rgb(228, 227, 227, 0.5);
}

.trip-card img {
  width: 100%;
  height: 180px;
  border-radius: 8px 8px 0px 0px;
  object-fit: cover;
}

.trip-card .placeholder {
  width: 100%;
  height: 180px;
  background-color: #f0f0f0;
  border-radius: 8px 8px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: #888;
}

.card-content {
  padding: 20px ;
}

.card-content p {
  margin-bottom: 10px;
}

.trip-card button {
  position: absolute;
  bottom: 80px;
  right: 20px;
  padding: 7px 10px;
  border-radius: 30px;
  border: 1px solid lightgray;
  width: fit-content;
  justify-self: end;
  cursor: pointer;
}

.trip-card button:hover {
  color: white;
  font-weight: 500;
  background-color: rgb(55, 193, 231, 0.7);
  border: none;
}

.trip-links a {
  display: block;
  margin-top: 20px;
  font-size: 19px;
  text-decoration: none;
  color: black;
}

.modal-button {
  width: 150px;
  font-size: 18px;
  padding: 8px;
  border-radius: 12px;
  margin: 10px 0px;
  border: 3px solid #6ec9f7;
  background-color: #6ec9f7;
  color: white;
  cursor: pointer;
}

.modal-button:hover {
  background-color: white;
  border: 3px solid #6ec9f7;
  color: #6ec9f7;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 200;
  height: 100vh;
  padding: 2rem;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(6px);
  overflow-y: scroll;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes fadeInUpBounce {
  0% {
    opacity: 0;
    transform: translateY(200px);
  }
  60% {
    opacity: 1;
    transform: translateY(-10px);
  }
  80% {
    transform: translateY(5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.modal {
  width: 100%;
  max-width: 400px;
  height: fit-content;
  background-color: white;
  padding: 20px;
  border-radius: 25px;
  animation: fadeInUpBounce 0.4s forwards ease-in-out;
}

.close-modal {
  position: absolute;
  top: -10px;
  right: 15px;
  margin-top: 20px;
  background: none;
  color: white;
  padding: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.3rem;
}

.add-trip-form h1 {
  font-size: 1.7rem;
  margin: 10px;
}
.add-trip-form label{
  font-size: 1.1rem;
}

.add-trip-form input {
  width: 100%;
  font-size: 100%;
  height: 40px;
  padding: 15px;
  border-radius: 10px;
  margin-top: 3px;
  margin-bottom: 10px;
  background-color: rgb(238, 238, 238);
  border: 3px solid rgb(238, 238, 238);
}

.add-trip-form input:focus {
  border: 3px solid #6ec9f7;
  outline: none;
}


.modal-error-message {
  margin: 10px;
  color: tomato;
}

.days-remaining {
  color: tomato;
}

@media (max-width: 500px) {
  .dashboard-page {
    margin-top: 0px;
    justify-items: center;
  }

  .planned-trips {
    padding: 0px 20px;
  }

  .trip-cards {
    width: 350px
  }

  .trip-card {
    width: 165px;
    }

  .trip-card img {
    height: 110px;
  }
  .add-trip-button {
    bottom: 20px;
    right: 20px;
  }

  .card-content {
    padding: 10px;
    font-size: 0.9rem;
  }

  .card-content p {
    margin-bottom: 5px;
  }
  .trip-dates {
    font-size: 0.7rem; 
  }



  .trip-card .placeholder {
    height: 110px;
    padding: 5px;
    text-align: center;
  }
}
