.left-menu {
  grid-row: 1 / span 3;
  display: grid;
  grid-template-rows: 50px 1fr 60px;
  background-color: white;
  margin: 20px 20px 20px 20px;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  justify-items: left;
}

.travel-planner-logo {
  text-align: left;
  display: grid;
  grid-template-columns: 40px auto;
  align-items: center;
  cursor: pointer;
  justify-content: left;
  padding: 10px 0px 30px 0px;
}

.travel-planner-logo h1 {
  text-align: start;
  margin: 0px 10px 0px 10px;
  color: black;
  font-size: 1.8rem;
  /* text-shadow: 0 6px 30px rgba(0, 0, 0, 0.3); */
}

.travel-planner-logo svg {
  width: 100%;
  fill: black;
}

.left-menu a {
  text-decoration: none;
  color: black;
}

.left-menu a:hover {
  color: rgb(55, 193, 231);
}

.left-menu h2:focus {
  color: rgb(55, 193, 231);
}

.left-menu a:focus {
  color: rgb(55, 193, 231);
  font-weight: 600;
}

.trip-summary {
  font-size: 0.9rem;  
  margin-top: 5px;
  padding: 5px 10px;
  background-color: rgba(240, 248, 255, 0.8);  
  border-radius: 5px;
  display: flex;
  gap: 5px;
  align-items: center;
  color: #333;  
}


.trip-summary span {
  display: flex;
  align-items: center;
  padding-left: 7px; 
  border-left: 1px solid rgba(150, 150, 150, 0.5); 
}

.trip-summary span:first-child {
  border-left: none;
  padding-left: 0; 
}

.trip-summary span:last-child {
  padding-right: 0; 
}

.user-details {
  display: grid;
  grid-template-columns: auto 90px;
  align-items: center;
}

.profile-circle {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  background-color: rgb(55, 193, 231, 0.7);
  color: white;
  align-content: center;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.profile-text {
  padding: 10px;
}

.profile-circle:hover {
  background-color: white;
  color: black;
}

.profile-circle p {
  font-size: 1.3rem;
}

.user-panel {
  position: absolute;
  left: 50px;
  bottom: 100px;
  z-index: 10;
  min-width: fit-content;
  background-color: white;
  padding: 10px;
  border-radius: 8px;
}

.user-panel a {
  text-decoration: none;
  color: black;
}

.user-panel p {
  margin: 10px;
  font-size: 18px;
}
