.left-menu {
  grid-row: 2 / span 3;
  display: grid;
  margin: 10px 20px 20px 20px;
  border-radius: 10px;
  padding: 0px 20px;
}

.my-trips-heading {
color: rgb(55, 193, 231);
}


.left-menu a {
  text-decoration: none;
  color: black;
}

.left-menu a:hover {
  color: rgb(55, 193, 231);
}

.left-menu h2 {
  font-size: 1.3rem;
}

.left-menu h2:focus {
  color: rgb(55, 193, 231);
}


.left-menu a:focus {
  color: rgb(55, 193, 231);
  font-weight: 600;
}

.trip-summary {
  font-size: 0.8rem;  
  margin-top: 5px;
  padding: 5px 10px;
  background-color: rgba(240, 248, 255, 0.8);  
  border-radius: 5px;
  display: flex;
  gap: 5px;
  align-items: center;
  text-align: center;
  color: #333;  
}


.trip-summary span {
  display: flex;
  align-items: center;
  padding-left: 8px; 
  border-left: 1px solid rgba(150, 150, 150, 0.5); 
}

.trip-summary span:first-child {
  border-left: none;
  padding-left: 0; 
}

.trip-summary span:last-child {
  padding-right: 0px; 
}

