.login-page {
  height: 100vh;
  background: #6ec9f7;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.login-form {
  display: grid;
  grid-template-columns: minmax(200px, 400px);
  background-color: white;
  padding: 20px;
  border-radius: 25px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin: 10px;
  margin-top: 20px;
}

label {
  font-size: 18px;
  color: #555;
  padding: 0px 5px;
}

input {
  width: 100%;
  font-size: 100%;
  height: 50px;
  padding: 15px;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgb(238, 238, 238);
  border: 3px solid rgb(238, 238, 238);
}
input:focus {
  border: 3px solid #6ec9f7;
  outline: none;
}

.button-section {
  display: grid;
  justify-items: center;
  margin-top: 10px;
}

#login-button {
  width: 150px;
  font-size: 18px;
  padding: 8px;
  border-radius: 12px;
  margin-bottom: 10px;
  border: 3px solid #6ec9f7;
  background-color: #6ec9f7;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

#login-button:hover {
  background-color: white;
  border: 3px solid #6ec9f7;
  color: #6ec9f7;
}

.login-options {
  text-align: center;
  height: auto;
  border-bottom: solid lightgray 1px;
}

.error {
  padding: 10px 0px;
  color: tomato;
}

.signup-option p {
  margin: 10px 0px;
  font-size: 16px;
}

#signup-button {
  width: 150px;
  font-size: 18px;
  padding: 8px;
  border-radius: 12px;
  margin-bottom: 10px;
  border: 3px solid #6ec9f7;
  background-color: #6ec9f7;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

#signup-button:hover {
  background-color: white;
  border: 3px solid #6ec9f7;
  color: #6ec9f7;
}


.login-loading-button {
  display: grid;
  align-content: center;
  justify-content: center;
  width: 150px;
  height: 49.5px;
  padding: 8px;
  border-radius: 12px;
  margin-bottom: 10px;
  background-color: white;
  border: 3px solid #6ec9f7;
}

.login-spinner {
  border: 7px solid rgba(0, 0, 0, 0.1);
  border-top: 7px solid #6ec9f7;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
}


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
