.login-page {
  height: 100vh;
  background: linear-gradient(135deg, rgb(55, 193, 231), #87CEEB, rgb(224, 232, 234));
  background-size: 400% 400%; 
  animation: gradientAnimation 10s ease infinite;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.login-form {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  width: 100%;
  max-width: 500px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

label {
  display: block;
  font-size: 18px;
  margin-bottom: 5px;
  color: #555;
}

input {
  width: 100%;
  font-size: 16px;
  height: 40px;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 15px;
  border: solid lightgray 1px;
  outline: none;
  transition: border-color 0.3s ease;
}
input:focus {
  border-color: rgb(55, 193, 231);
}

#login-button {
  width: 100%;
  font-size: 18px;
  height: 40px;
  padding: 5px;
  border-radius: 8px;
  margin-bottom: 20px;
  border: none;
  background-color: rgb(55, 193, 231);
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#login-button:hover {
  background-color: rgb(40, 150, 200); 
}

.login-options {
  text-align: center;
  height: auto;
  border-bottom: solid lightgray 1px;
}

.error {
  padding: 10px 0px;
  color: tomato;
}

.signup-option p {
  margin: 20px 0px;
  font-size: 16px;
  font-size: 16px;
}

#signup-button {
  font-size: 15px;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
  border: none;
  background-color: rgb(55, 193, 231);
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#signup-button:hover {
  background-color: rgb(40, 150, 200);
}
