.search-page {
  overflow: scroll;
  overflow-x: hidden;
}
.display-data-wrapper {
  display: flex;
  flex-direction: column;
  max-width: fit-content;
  justify-content: center;
  margin: 0 auto;
}

.data-cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 20px;
}

.data-card {
  display: grid;
  grid-template-columns: minmax(200px, 350px) minmax(200px, 400px) auto;
  background-color: rgb(245, 245, 245, 0.5);
  list-style: none;
  border-radius: 8px;
  position: relative;
  cursor: pointer;
}

.data-card:hover {
  background-color: rgb(228, 227, 227, 0.4);
}

.card-img {
  padding: 15px;
  height: 250px;
}

.card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.card-text {
  margin-top: 10px;
  padding: 10px;
}

.card-text p {
  margin-top: 20px;
}

.card-buttons {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 10px;
  padding: 20px;
  gap: 15px;
}
.card-buttons button {
  padding: 12px;
  border-radius: 15px;
  width: 140px;
  border: none;
  cursor: pointer;

}

.card-buttons button:hover {
  background-color: #6ec9f7;
  color: white;
}

.card-img .placeholder {
  width: 100%;
  height: 200px;
  background-color: #f0f0f0;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: #888;
}

.card-panel {
  position: absolute;
  z-index: 30;
  top: 120px;
  right: -70px;
  background-color: white;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
}

.card-text h2 {
  font-size: 20px;
}

.card-text a {
  display: block;
  margin-top: 5px;
  text-decoration: none;
  color: black;
}

.card-panel a:hover {
  color: rgb(55, 193, 231);
}

.error-message {
  font-size: 1.3rem;
  margin: 20px;
  padding: 20px;
  color: tomato;
}

.added-item-graphic {
  position: fixed;
  z-index: 10;
  top: 100px;
  right: 40px;
  background-color: rgb(110, 203, 229, 0.4);
  padding: 10px;
  border-radius: 8px;
  font-size: 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  animation: fadeInOut 2s ease-in-out;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


@media(max-width:500px) {
  .data-cards {
    margin: 10px;
  }

  .data-card {
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-template-rows: 150px 50px;
  }

  .card-img {
    height: 150px;
  }

  .card-text h2 {
    font-family: 5rem;
  }
}