* {
  
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Poppins";
  font-weight: 400;
  
}

h1 {
  font-weight: 600
}

h2 {
  font-weight: 600
}
.container {
  height: 100vh;
  display: grid; 
  grid-template-columns: 315px 1fr;
  grid-template-rows: 100px 1fr;
  background:  white;
}

@font-face {
  font-family: "Geist";
  src: local("GeistBoldBold"),
    url("./fonts/Geist/Geist-Bold.ttf") format("truetype");
  font-weight: 800;
}


@font-face {
  font-family: "Geist";
  src: local("GeistSemiBold"),
    url("./fonts/Geist/Geist-SemiBold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Geist";
  src: local("GeistMedium"),
    url("./fonts/Geist/Geist-Medium.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Geist";
  src: local("GeistRegular"),
    url("./fonts/Geist/Geist-Regular.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Geist";
  src: local("GeistLight"),
    url("./fonts/Geist/Geist-Light.ttf") format("truetype");
  font-weight: 400;
}


@font-face {
  font-family: "Prompt";
  src: local("PromptExtraBold"),
    url("./fonts/Prompt/Prompt-Bold.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Poppins";
  src: local("PoppinsBold"),
    url("./fonts/Poppins/Poppins-Bold.ttf") format("truetype");
  font-weight: 600;
}


@font-face {
  font-family: "Poppins";
  src: local("PoppinsMedium"),
    url("./fonts/Poppins/Poppins-Medium.ttf") format("truetype");
  font-weight: 400;
}




