.header {
  grid-column: 2 / span 3;
  display: grid;
  grid-template-columns: 1fr 80px;
  align-items: center;
}

.search-bar-wrapper {
  display: flex;
  align-items: center;
  justify-content:center;
  margin: 0 30px;
}

#search-bar {
  width: 100%;
  max-width: 1000px;
  padding: 13px;
  margin: 0 10px;
  border-color: white;
  border-radius: 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

#search-bar:focus {
  border-color: rgb(55, 193, 231, 0.8);
}

#search-query-submit {
  width: 67px;
  margin: 20px 0px 20px 0px;
  border-radius: 20px;
  padding: 12px 13px;
  cursor: pointer;
  border: none;
  color: black;
  background-color: rgb(239, 239, 239);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  font-size: 13px;
  justify-items: center;
}

#search-query-submit:hover {
  background-color: rgb(55, 193, 231, 0.7);
  color: white;
}

.profile-circle {
  display: grid;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  text-align: center;
  margin-right: 25px;
  margin-left: 20px;
  justify-self: end;
  background-color: white;
  align-content: center;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.profile-circle:hover {
  background-color: rgb(55, 193, 231, 0.7);
  color: white;
}

.profile-circle p {
  font-size: 25px;
}

.user-panel {
  position: absolute;
  right: 50px;
  top: 70px;
  z-index: 10;
  min-width: fit-content;
  background-color: white;
  padding: 10px;
  border-radius: 8px;
}

.user-panel a {
  text-decoration: none;
  color: black;
}

.user-panel p {
  margin: 10px;
  font-size: 18px;
}

#loading-button {
  background-color: rgb(55, 193, 231, 0.7);
  width: 67px;
  margin: 20px 0px 20px 0px;
  border-radius: 20px;
  padding: 10px 13px;
  cursor: pointer;
  border: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  justify-items: center;
}

.spinner {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid #fff;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
