.header {
  grid-column: 1 / span 3;
  display: grid;
  grid-template-columns: 210px 1fr 100px;
  grid-template-rows: 65px;
  align-items: center;
}

.travel-planner-logo {
  display: grid;
  grid-template-columns: 50px 135px;
  justify-items: center;
  align-items: center;
  justify-content: start;
  cursor: pointer;
  padding-left: 30px;
}

.travel-planner-logo h1 {
  margin: 10px 10px 10px 0px;
  color: black;
  font-size: 1.4rem;
  /* text-shadow: 0 6px 30px rgba(0, 0, 0, 0.3); */
}

.travel-planner-logo svg {
  width: 100%;
  fill: #89CFF0;
  stroke: #89CFF0;
}

.search-bar-wrapper {
  max-width: 800px;
  display: grid;
  justify-items: center;
  margin: 0 auto;
  grid-template-columns: 1fr 50px;
  border-radius: 30px;
}


#search-bar {
  width: 100%;
  padding: 13px;
  height: 40px;
  margin: 0 auto;
  border: 1px solid darkgray;
  border-radius: 20px 0px 0px 20px;
}

#search-bar:focus {
  border-color: rgb(55, 193, 231, 0.8);
}

#search-query-submit {
  width: 100%;
  border-radius: 0px 20px 20px 0px;
  cursor: pointer;
  border: 1px solid darkgrey;
  border-left: none;
  background-color: rgb(239, 239, 239);
  justify-items: center;
}

#search-query-submit:hover {
  background-color: rgb(55, 193, 231, 0.7);
  color: white;
}

.user-profile-section {
  justify-items: end;
  padding-right: 30px;

}

.profile-circle {
  display: grid;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  background-color: white;
  align-content: center;
  cursor: pointer;
  border: 1px solid darkgray;
}

.profile-circle:hover {
  background-color: rgb(55, 193, 231, 0.7);
  color: white;
}

.profile-circle p {
  font-size: 1.2rem;
}

.user-panel {
  position: absolute;
  right: 50px;
  top: 70px;
  z-index: 10;
  min-width: fit-content;
  background-color: white;
  padding: 10px;
  border-radius: 8px;
}

.user-panel a {
  text-decoration: none;
  color: black;
}

.user-panel p {
  margin: 10px;
  font-size: 18px;
}

#loading-button {
  width: 100%;
  border-radius: 0px 20px 20px 0px;
  border: 1px solid darkgrey;
  border-left: none;
  background-color: rgb(239, 239, 239);
  justify-items: center;
  cursor: pointer;
}

.spinner {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid #fff;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
