.trip-page {
  overflow: scroll;
  overflow-x: hidden;
}
.trip-wrapper {
  max-width: 1000px;
  margin: 20px;
  border-radius: 12px;
  display: grid;
  grid-template-rows: 50px fit-content fit-content fit-content;
  background-color: rgb(245, 245, 245, 0.9);


}

.trip-wrapper h1 {
  text-align: left;
  margin: 20px 0px 20px 0px;
  font-size: 2.5rem;
}

.trip-details-section {
  margin: 0px 20px 20px 20px;
  padding: 20px;
  border-radius: 8px;
  display: grid;
  grid-template-columns: minmax(200px, 400px) minmax(200px, 500px);
}

.trip-image {
  margin-top: 10px;
  grid-column: 1 / span 1;
}

.trip-details-section img {
  width: 100%;
  height: 250px;
  border-radius: 6px;
  object-fit: cover;
}

.trip-content {
  margin: 10px;
  margin-left: 20px;
  grid-column: 2 / span 1;
  font-size: 1.2rem;
}

.trip-content p {
  margin-top: 10px;
}
h2 {
  font-size: 1.5rem;
}

.hotels-section {
  margin: 20px;
  padding: 20px;
  border-radius: 8px;
}

.attractions-section {
  margin: 20px;
  padding: 20px;
  border-radius: 8px;
}

.restaurants-section {
  margin: 20px;
  padding: 20px;
  width: fit-content;
  border-radius: 8px;
}

.row2 {
  grid-row: 4 / span 1;
}

.row1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.item-card {
  display: grid;
  grid-template-columns: 170px 1fr;
}

.item-image {
  margin-top: 5px;
}

.item-image img {
  padding: 5px;
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-radius: 10px;
}

.item-content {
  margin-top: 10px;
  margin-left: 10px;
  max-width: 300px; 
  word-wrap: break-word; /* Allow long words to break */
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.view-trip-spinner {
  border: 20px solid rgba(0, 0, 0, 0.1);
  border-top:20px solid #6ec9f7;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 1s linear infinite;
}

.loading-text {
  color: white;
  font-size: 20px;
  text-align: center;
  z-index: 10000;
  margin-top: 20px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}