.register-page {
  height: 100vh;
  background:#6ec9f7;
  display: flex;
  justify-content: center;
  align-items: center;
    padding: 2rem;

}

.register-form {
  display: grid;
  grid-template-columns: minmax(200px, 450px);
  background-color: white;
  padding: 30px;
  border-radius:25px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}


.login-option p {
  margin: 10px 0px 20px 0px;
  font-size: 18px;
}

